<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgs.bakingapp1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".steps.stepsListActivity"
            android:label="@string/title_steps_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".steps.stepsDetailActivity"
            android:label="@string/title_steps_detail"
            android:parentActivityName=".steps.stepsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgs.bakingapp1.steps.stepsListActivity" />
        </activity>
        <activity
            android:name=".masterdetailflow.DisplaydataListActivity"
            android:label="@string/title_displaydata_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".masterdetailflow.DisplaydataDetailActivity"
            android:label="@string/title_displaydata_detail"
            android:parentActivityName=".masterdetailflow.DisplaydataListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rgs.bakingapp1.masterdetailflow.DisplaydataListActivity" />
        </activity>
        <activity android:name=".Activity_2.Display" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>